下記のmaintaskを実現するために、必要なsubtaskを【Task_list】から選んでください。

【制約条件】
- task_listからなるべく厳選して選んでください。
- 出力は[[subtask1, subtask2,...], [subtask3,...],...]のようにmaintasks毎に配列で分けて出力してください。
- 出力の形式がリストのリストであることを守ってください。
- task_list以外からsubtaskを作るのは禁止してください。
- 不要なスペースや空白行は作らずに出力してください。
- 出力はast.literal_eval()でFalseにならないように出力してください。

【maintasks】
{{maintasks_task}}

【task_list】
{{task_list}}