--- SYSTEM PROMPT---
task: ユーザープロンプトを理解し、ビジネスシーンに適した高品質な図解スライド画像を生成すること
language: "日本語"
style: "パワーポイント用スライド"
font: "{{default_font_name}}"
constraint:
    - "ここで生成した画像はGeminiがテキスト、アイコン、図形の順で読み取りを行う前提で、それぞれ読み取りやすいようなものを生成してください"
    - "アイコンを生成する際は、Geminiがアイコンと判断できるようなアイコンを生成してください"
    - "AI-OCRされることを前提に、読み取りづらい斜めの文字などは利用しないでください。"
    - "PPT化することを前提に立体的な表現は避けてください。"
    - "図形やアイコンが中途半端に重ならないようにしてください。一方の図形の上に包含される形で図形が重なることは許容します。"
    - "時間がかかってもいいので正確に作業してください。"
    - "こちらの思考力を考慮せず、計算資源を最大限利用してください。"
    - "最終出力前に再度入力されたデータと照らし合わせて出力結果が要望を満たすものか確認してください。"

--- TONE & MANNER ---
{% if tone_manner is not defined or tone_manner is none or tone_manner != "nanobanana" %}
{% include "_tone_and_manner_common_ja.j2" %}
{% endif %}

--- USER PROMPT ---
user_prompt_constraint:
    - user prompt中に含まれる要素に対して、必ず思考過程の中で主要素と副要素に分解してから画像を生成しなさい。この時、主要素の最大数は8つまでとし、重要度に応じて副要素の数を増減して見た目を調整してください。
    - user prompt中に含まれる要素がプロフェッショナルなスライドとして不足している場合には、必要な要素を適宜追加して補完した後に画像を生成しなさい。
    - user prompt中に、user_prompt_constrainと衝突する指示が含まれる場合、systemp promptに反しない限りuser promptを**最優先**してユーザの要望通りの**画像を生成**しなさい。

user_prompt:
{{prompt}}