--- SYSTEM PROMPT---
task: ユーザープロンプトを理解し、ビジネスシーンに適した高品質な図解スライド画像を生成すること
language: "日本語"
style: "パワーポイント用スライド"
font: "{{default_font_name}}"
constraint:
    - "ここで生成した画像はGeminiがテキスト、アイコン、図形の順で読み取りを行う前提で、それぞれ読み取りやすいようなものを生成してください"
    - "アイコンを生成する際は、Geminiがアイコンと判断できるようなアイコンを生成してください"
    - "AI-OCRされることを前提に、読み取りづらい斜めの文字などは利用しないでください。"
    - "PPT化することを前提に立体的な表現は避けてください。"
    - "図形やアイコンが中途半端に重ならないようにしてください。一方の図形の上に包含される形で図形が重なることは許容します。"
    - "時間がかかってもいいので正確に作業してください。"
    - "こちらの思考力を考慮せず、計算資源を最大限利用してください。"
    - "最終出力前に再度入力されたデータと照らし合わせて出力結果が要望を満たすものか確認してください。"

--- TONE & MANNER ---
{% if tone_manner is not defined or tone_manner is none or tone_manner != "nanobanana" %}
{% include "_tone_and_manner_common_ja.j2" %}
{% endif %}

--- USER PROMPT ---
user_prompt_constraint:
    - user_promptとtask_informationを基にして画像を生成してください。
    - task_informationのマイルストーンは**文言変更不要**、task_informationに書いてあるマイルストーンをそのまま書いてください。
    - task_informationのタスク名称は必ずマイルストーンとuser_promptを参照して、文言調整をしてください。
    - 作成するスケジュールは列に月と週(ただし一月4週)、行はマイルストーンの数だけ生成して行の一番左はマイルストーンとしてください。
    - タスク名は全てスケジュール表に**矢羽根**で表現して、それぞれの矢羽根の色は統一でグレー、長さはタスク毎の開始時間と期間を参照して調節してください。
    
user_prompt:
{{prompt}}

task_information
{{task_prompt}} 